<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body id="body_conta">

    <div id="fundo"></div>

    <div id="div_placa">
        <form action="{{ url_for('logar')}}" method="post">
            <h1>Cadastro</h1>

            <label for="">Nome:</label>
            <input type="text" id="">

            <label for="">E-mail:</label>
            <input type="text" id="">

            <label for="">Senha:</label>
            <input type="text" id="">

            <label for="">Confirmar senha:</label>
            <input type="text" id="">

            <button type="submit">Cadastrar</button>
        </form>
    </div>

    <div id="suporte"></div>
    <div id="cipo"></div>

</body>
</html>