<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header id="menu_bar">
        <div class="titulo-container">
            <h1>The Last of Task</h1>
            <img src="{{ url_for('static', filename='imagens/cipo2.png') }}" alt="folhagem" class="cipo-decorativo1">
        </div>

        <div id="menu_bar2">
            <h3 id="menu-l-1"><a href="{{url_for('loja')}}">Loja</a></h3>
            <h3 id="menu-l-2"><a href="{{url_for('status')}}">Perfil</a></h3>
            <img src="{{ url_for('static', filename='imagens/cipo1.png') }}" alt="folhagem" class="cipo-decorativo2">
        </div>
    </header>
    <main>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Minhas Tarefas</h1>
        <ul>
            {% for tarefa in tarefas %}
                <li>
                    <strong>{{ tarefa.titulo }}</strong> - | {{ tarefa.pilulas_recompensa }} pilulas |
                    {% if tarefa.concluido %}
                        <span style="color:green;">[Concluído]</span>
                    {% else %}
                        <span style="color:red;">[Pendente]</span>
                        <form action="{{ url_for('concluirTarefa', task_id=tarefa.task_id) }}" method="post" style="display:inline;">
                            <button type="submit">Finalizar Tarefa</button>
                        </form>
                    {% endif %}

                </li>
            {% else %}
                <li>Nenhuma tarefa encontrada.</li>
            {% endfor %}
        </ul>

    </main>
    <footer>

    </footer>

</body>
</html>