<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body id="body_perfil">

    <header id="menu_bar">
        <div class="titulo-container">
            <a href="{{ url_for('menu')}}">
                <img src="{{url_for('static', filename='imagens/exit.png')}}" alt="Voltar" class="exit" >
            </a>
            <img src="{{ url_for('static', filename='imagens/cipo2.png') }}" alt="folhagem" class="cipo-decorativo1">
        </div>

        <div id="menu_bar3">
            <h3 id="menu-l-1"><a href="{{url_for('loja')}}">Loja</a></h3>
            <img src="{{ url_for('static', filename='imagens/cipo1.png') }}" alt="folhagem" class="cipo-decorativo2">
        </div>
    </header>
    <main>


        <div class="div_violao">
            <span class="fio_1"></span>
            <span class="fio_2"></span>
            <span class="fio_2"></span>
            <span class="fio_2"></span>
            <span class="fio_3"></span>
            
            <div class="cicada"></div>

        </div>

        <div class="perfil-container">
            <h1>Perfil do Personagem</h1>

            <div class="status">
                <div class="atributo">
                    <div class="per_left">
                        <img src="{{ url_for('static', filename='imagens/status/target.png') }}" alt="" class="img_atributo">
                        <span>Foco</span>
                    </div>
                    
                    <div class="per_center">
                        <span>LvL</span>
                    </div>

                    <div class="per_rigth">
                        <div class="img_money"></div>
                        <span>150</span>

                        <button onclick="aumentar('foco')">+</button>
                    </div>
                </div>

                <div class="atributo">
                    <div class="per_left">
                        <img src="{{ url_for('static', filename='imagens/status/run.png') }}" alt="" class="img_atributo">
                        <span>Agilidade</span>
                    </div>
                    
                    <div class="per_center">
                        <span>LvL</span>
                    </div>

                    <div class="per_rigth">
                        <div class="img_money"></div>
                        <span>150</span>

                        <button onclick="aumentar('foco')">+</button>
                    </div>
                </div>
                
                <div class="atributo">
                    <div class="per_left">
                        <img src="{{ url_for('static', filename='imagens/status/brain.png') }}" alt="" class="img_atributo">
                        <span>Inteligencia</span>
                    </div>
                    
                    <div class="per_center">
                        <span>LvL</span>
                    </div>

                    <div class="per_rigth">
                        <div class="img_money"></div>
                        <span>150</span>

                        <button onclick="aumentar('foco')">+</button>
                    </div>
                </div>

                <div class="atributo">
                    <div class="per_left">
                        <img src="{{ url_for('static', filename='imagens/status/lamp.png') }}" alt="" class="img_atributo">
                        <span>Criatividade</span>
                    </div>
                    
                    <div class="per_center">
                        <span>LvL</span>
                    </div>

                    <div class="per_rigth">
                        <div class="img_money"></div>
                        <span>150</span>

                        <button onclick="aumentar('foco')">+</button>
                    </div>
                </div>

                <div class="atributo">
                    <div class="per_left">
                        <img src="{{ url_for('static', filename='imagens/status/lightning.png') }}" alt="" class="img_atributo">
                        <span>Energia</span>
                    </div>
                    
                    <div class="per_center">
                        <span>LvL</span>
                    </div>

                    <div class="per_rigth">
                        <div class="img_money"></div>
                        <span>150</span>

                        <button onclick="aumentar('foco')">+</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function aumentar(atributo){
                fetch("/atualizar_atributo",{
                    method: "POST",
                    headers: {
                        "Content-type": "application/json"
                    },
                    body: JSON.stringify({atributo: atributo})
                })
                .then(res => res.json())
                .then(data => {
                    if (data.sucesso){
                        alert("Atributo " + atributo + "aumentado");
                    } else{
                        alert("Erro ao atualizar atributo.");
                    }
                })
                .catch(err =>{
                    console.error("Erro:", err);
                    alert("Erro na comunicação com o servidor.");
                });


                }

        </script>
    </main>
    <footer>

    </footer>

</body>
</html>

