<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div id="div-conta">
        <form action="{{ url_for('logar')}}" method="get">
            <h1>Login</h1>

            <label for="">E-mail:</label>
            <input type="text" id="">

            <label for="">Senha:</label>
            <input type="text" id="">

            <button type="submit">Logar</button>
            <a id="link" href="{{ url_for('cadastrar')}}">Criar uma conta</a>
        </form>
    </div>

</body>
</html>